html{
    background-color: rgb(77, 77, 77);
    color: white;
    box-shadow: inset 0 0 4rem rgb(0 0 0 / 50%);
    width: 120vw;
    height: 160vw;
    max-width: 120vw;
    max-height: 160vw;
}

/*red buttons*/
.red{
    background-color: rgb(255, 46, 46);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 4vw;
    box-shadow: 1px 1px 3px rgb(27, 27, 27);
}

/*gray buttons*/
.gray{
    background-color: rgb(156, 151, 151);
    border-radius: 5px;
    border-style: none;
    padding: 2vw;
    box-shadow: 1px 1px 3px rgb(27, 27, 27);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vw;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vw;
    margin-bottom: 33vw;
}

/*table*/
table{
    color: black;
    text-align: center;
    width: 60%;
    margin-bottom: 3vw;
}

td{
    padding: 0.8vw;
    border-radius: 5px;
    background-color: rgb(149, 148, 151);
}

#but-actived{
    cursor: pointer;
}

#p-img{
    border-radius: 100px;
}

#p-sites, #but-apply{
    margin-top: 15vw;
}

/*animations*/
.red:hover, .gray:hover{
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    transform: scale(1.05);
}

table img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

p img:hover{
    transform: scale(1.08);
}

@keyframes shadowOn {
    0%{
        box-shadow: none;
    }   
    50%{
        box-shadow: 0 0 10vw 1.5vw rgb(29, 28, 28);
    } 
    100%{
        box-shadow: none;
    }
}