html{
    background-color: rgb(77, 77, 77);
    color: white;
    box-shadow: inset 0 0 4rem rgb(0 0 0 / 50%);
    width: 120vw;
    height: 160vw;
}

/*red buttons*/
.red{
    background-color: rgb(255, 46, 46);
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 4vw;
    box-shadow: 1px 1px 3px rgb(27, 27, 27);
}

.gray{
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    border-style: none;
}

#but-actived{
    cursor: pointer;
}

#p-img{
    border-radius: 100px;
}

#p-sites{
    margin-top: 20vw;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*animations*/
.red:hover, .gray:hover{
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

@keyframes shadowOn {
    0%{
        box-shadow: none;
    }   
    50%{
        box-shadow: 0 0 10vw 1.5vw rgb(29, 28, 28);
    } 
    100%{
        box-shadow: none;
    }
}